.zcompdump
.zsh_history
.zsh_session
*.lazy-lock.json
*.log

**/zsh/.zcompdump*


karabiner/.config/karabiner/automatic_backups/*

# ignore generated plugins
**/lazy-lock.json
**/zsh/plugins/*
**/tmux/plugins/*


